body{
 /*   background-image: */
    width: 100%;
}
#sidebar {
    padding: 30%;
    background-color: rgb(53, 49, 49);
    height: 100%;
}
#sidebar a {
    color: white;
    font-weight: bold;
}
li {
    text-align: center;
}
#sidebar a:hover {
    text-decoration: none;
    color: rgb(177, 163, 43);
}
#sidebar .active {
    color: rgb(177, 163, 43);
}
div {
padding: 5px;
}
h1 {font-family: Times, "Times New Roman", serif; 

};